.root {
    -base: #efefef;
    -background: derive(-base,45%);
    -background-alternative: derive(-background,-5%);
    -text: black;
    -highlight: #2d9ed2;
    -border: derive(-background, -15%);
}

.text {
    -fx-bounds-type: logical_vertical_center;
    -fx-font-smoothing-type: lcd;
}


.button {
    -fx-background-color: -background;
    -fx-text-fill: -text;
    -fx-alignment: CENTER;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em;
}




.list-view {
    -fx-padding: 1;
}

.split-pane {
    -fx-background-color: -background;
}

.list-cell {
    -fx-background-color: -background;
    -fx-text-fill: -text;
    -fx-padding: 0.2em 0.5em 0.2em 0.5em;
}
.list-cell:odd {
    -fx-background-color: -background-alternative;
}
.list-cell:selected  {
    -fx-background-color: -highlight;
}
